 body {
        font-family: Arial, Helvetica, sans-serif;
        background: #9bb1e2;
        color: white;
        margin: 0;
        font-family: Arial, sans-serif;
        
    }

    header {
        background: #000000f3;
        padding: 20px;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }


    .container {
        max-width: 800px;
        margin: 30px auto;
        padding: 20px;
    }

    .card {
        background: #000000f3;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 0 4px 20px rgba(0, 1.5, 0, 0.5);
    }

    .form-group {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    input {
        background: rgba(230, 228, 228, 0.925);
        flex: 1;
        width: 100%;
        margin-right: 10px;
        padding: 10px;
        border-radius: 6px;
        border: none;
        outline: none;
    }

    input::placeholder {
        color: #8b8b8bec;
    }

    input:focus {
        border: 1px solid #2e91ca;
    }

    button {
        padding: 10px 15px;
        border: none;
        border-radius: 6px;
        background: #225bc5;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        transform: scale(1.05);
        background: #1db461;
    }

    .usuarios {
        margin-top: 20px;
    }

    .usuario {
        background: #dcdcddf6;
        color: black;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
    }
    

    .acoes button {
        margin-left: 5px;
        background: #ef4444;
    }

    .acoes .edit:hover {
        transform: scale(1.05);
        background: #16a34a;
    }

    .acoes .excluir:hover {
        transform: scale(1.05);
        background: #be220e;
    }


    .acoes .edit {
        background: #225bc5;
    }