<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    
</head>
<body>
<header>
    🚀 Sistema de Usuários
</header>

<div class="container">

<div class="card">
    <h2>Cadastrar Usuário</h2>

    <div class="form-group">
        <input type="text" id="nome" placeholder="Nome">
        <input type="email" id="email" placeholder="Email">
        <button id="btnCriar">Criar</button>
    </div>
</div>

<div class="card">
    <h2>Usuários Cadastrados</h2>
    <div class="usuarios" id="lista"></div>
</div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>